<div class="container">
  <h1 class="page-heading">Уведомления</h1>
</div>

<div class="container">
  <div class="notifications">
    <div class="notifications__list">
      <div class="notifications__item">
        <div class="notifications__date">08.05.2020</div>
        <div class="notifications__content">Будет проводится газовая проверка по подьездам</div>
      </div>
      <div class="notifications__item notifications__item--danger">
        <div class="notifications__date">08.05.2020</div>
        <div class="notifications__content">Машина с номером а632св блокирует проезд пожарной машины</div>
      </div>
      <div class="notifications__item">
        <div class="notifications__date">08.05.2020</div>
        <div class="notifications__content">Будет проводится газовая проверка по подьездам</div>
      </div>
      <div class="notifications__item">
        <div class="notifications__date">08.05.2020</div>
        <div class="notifications__content">Машина с номером а632св блокирует проезд пожарной машины</div>
      </div>
      <div class="notifications__item notifications__item--warning">
        <div class="notifications__date">08.05.2020</div>
        <div class="notifications__content">У вас залженность по счетчикам за май</div>
      </div>
      <div class="notifications__item ">
        <div class="notifications__date">08.05.2020</div>
        <div class="notifications__content">Будет проводится газовая проверка по подьездам</div>
      </div>
      <div class="notifications__item">
        <div class="notifications__date">08.05.2020</div>
        <div class="notifications__content">Будет проводится газовая проверка по подьездам</div>
      </div>
      <div class="notifications__item">
        <div class="notifications__date">08.05.2020</div>
        <div class="notifications__content">Будет проводится газовая проверка по подьездам</div>
      </div>
    </div>
  </div>

</div>
