@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/variables";
@import "src/assets/scss/settings";

.select {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% + 3px);
    transform: translateY(-50%);
    right: 12px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: rgba($gray-dark, 0.6);
  }

  &-inner {
    padding-right: 8px;
    padding-left: 8px;
    height: 36px;
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    color: rgba($gray-dark, 0.7);
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $gray;
    appearance: none;
    outline: none;
  }
}
