<div class="house-plan">
  <div class="house-plan__content">
    <svg
      xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 380 560" (mousemove)="onMouseMove($event)">
      <g transform="translate(-70.67 -9)">
        <rect width="320" height="400" transform="translate(103 151)" fill="#d29681"/>
        <g  id="flat-22" transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
          <rect width="70" height="70" stroke="none"/>
          <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
        </g>
        <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        <line x2="32" transform="translate(115.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        <g transform="translate(76)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <g  transform="translate(152)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <g #flat (click)="toggleInfo(flat)" transform="translate(228)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <g transform="translate(0 76)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <g transform="translate(0 152)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <g transform="translate(0 228)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <g transform="translate(0 304)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <g transform="translate(76 76)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <g transform="translate(76 152)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <g transform="translate(76 228)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <g transform="translate(76 304)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <g transform="translate(152 76)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <g transform="translate(152 152)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <g transform="translate(152 228)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <g transform="translate(152 304)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <g transform="translate(228 76)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <g transform="translate(228 152)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <g transform="translate(228 228)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <g transform="translate(228 304)">
          <g transform="translate(113 164)" fill="#e3e9e5" stroke="#d0886e" stroke-width="3" data-flat class="house-plan__flat">
            <rect width="70" height="70" stroke="none"/>
            <rect x="1.5" y="1.5" width="67" height="67" fill="none"/>
          </g>
          <line x2="69" transform="translate(113.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
          <line y2="34" transform="translate(148.5 199.5)" fill="none" stroke="#d0886e" stroke-width="3"/>
        </g>
        <rect width="360" height="18" transform="translate(82 551)" fill="#e5e5e5"/>
        <g transform="translate(70.67 62.85)">
          <path d="M376.288,97.85H83.052L39.67,167.992h380Z" transform="translate(-39.67 -97.85)" fill="none"/>
        </g>
        <rect width="27.94" height="7.55" transform="translate(265.881 123.861)" fill="#1f536d"/>
        <rect width="27.94" height="7.55" transform="translate(117.9 123.861)" fill="#1f536d"/>
        <rect width="27.94" height="7.55" transform="translate(201.982 96.345)" fill="#1f536d"/>
        <rect width="27.94" height="7.55" transform="translate(357.27 117.408)" fill="#1f536d"/>
        <rect width="27.94" height="7.55" transform="translate(147.314 72.23)" fill="#1f536d"/>
        <rect width="27.94" height="7.55" transform="translate(256.65 72.23)" fill="#1f536d"/>
        <g transform="translate(17)">
          <g transform="translate(70.67 63.85)">
            <path d="M349.713,97.85H79.627L39.67,167.992h350Z" transform="translate(-39.67 -97.85)" fill="#e6bbab"/>
            <path d="M0,0H350V18.16H0Z" transform="translate(0 70.142)" fill="#d29681"/>
            <rect width="27.94" height="7.55" transform="translate(178.576 61.011)" fill="#cea597"/>
            <rect width="27.94" height="7.55" transform="translate(47.23 61.011)" fill="#cea597"/>
            <path d="M0,0H27.94V7.55H0Z" transform="translate(262.178 60.558)" fill="#cea597"/>
            <rect width="27.94" height="7.55" transform="translate(70.113 9.38)" fill="#cea597"/>
            <rect width="27.94" height="7.55" transform="translate(170.133 9.38)" fill="#cea597"/>
            <rect width="27.94" height="7.55" transform="translate(262.178 9.558)" fill="#cea597"/>
            <text transform="translate(81.33 43.15)" fill="#a8725f" font-size="14" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="0" y="0">ул. Ленина 25, подъезд №2</tspan>
            </text>
          </g>
        </g>
        <g transform="translate(305 9)">
          <rect width="34.932" height="46.969" transform="translate(8.44 8.12)" fill="#e6e6e6"/>
          <rect width="51.802" height="16.24" fill="#b3b3b3"/>
        </g>
        <text transform="translate(138 190)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">22</tspan>
        </text>
        <text transform="translate(216 190)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">21</tspan>
        </text>
        <text transform="translate(289 190)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">20</tspan>
        </text>
        <text transform="translate(365 190)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">19</tspan>
        </text>
        <text transform="translate(138 267)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">18</tspan>
        </text>
        <text transform="translate(213 267)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">17</tspan>
        </text>
        <text transform="translate(289 267)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">16</tspan>
        </text>
        <text transform="translate(365 267)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">15</tspan>
        </text>
        <text transform="translate(137 343)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">14</tspan>
        </text>
        <text transform="translate(214 343)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">13</tspan>
        </text>
        <text transform="translate(289 343)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">12</tspan>
        </text>
        <text transform="translate(365 344)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">11</tspan>
        </text>
        <text transform="translate(138 419)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">10</tspan>
        </text>
        <text transform="translate(219 419)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">9</tspan>
        </text>
        <text transform="translate(294 419)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">8</tspan>
        </text>
        <text transform="translate(371 419)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">7</tspan>
        </text>
        <text transform="translate(143 494)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">6</tspan>
        </text>
        <text transform="translate(219 494)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">5</tspan>
        </text>
        <text transform="translate(294 494)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">4</tspan>
        </text>
        <text transform="translate(371 495)" fill="#797878" font-size="20" font-family="HelveticaNeue, Helvetica Neue">
          <tspan x="0" y="0">3</tspan>
        </text>
        <g transform="translate(380 203.222)">
          <g transform="translate(0 0.778)">
            <path d="M19.97,15.73c-.5,0-.871.124-1.245.124l-3.61-3.61L18.1,9.257l3.859-1.369,2.863-4.606a.783.783,0,0,0,0-.747L23.331,1.041a.767.767,0,0,0-.871-.124l-4.73,2.739L16.235,7.639l-2.988,2.988L9.887,7.016c0-.373.124-.747.124-1.245A5.057,5.057,0,0,0,3.787.917L5.654,2.784a2.407,2.407,0,0,1,0,3.485,2.407,2.407,0,0,1-3.485,0L.177,4.526a4.887,4.887,0,0,0,6.1,5.975l3.61,3.61L8.393,15.605a2.37,2.37,0,0,0-2.365.622l-5.1,5.1a2.533,2.533,0,0,0-.249,3.485,2.453,2.453,0,0,0,3.61.124l5.228-5.228a2.442,2.442,0,0,0,.622-2.365l1.494-1.494,3.61,3.61a4.235,4.235,0,0,0-.124,1.245,5.057,5.057,0,0,0,6.224,4.855L19.472,23.7a2.465,2.465,0,0,1,3.485-3.485l1.867,1.867A5.052,5.052,0,0,0,19.97,15.73Z" transform="translate(0 -0.778)" fill="#9a9999"/>
          </g>
        </g>
        <g transform="translate(305 354.222)">
          <g transform="translate(0 0.778)">
            <path d="M19.97,15.73c-.5,0-.871.124-1.245.124l-3.61-3.61L18.1,9.257l3.859-1.369,2.863-4.606a.783.783,0,0,0,0-.747L23.331,1.041a.767.767,0,0,0-.871-.124l-4.73,2.739L16.235,7.639l-2.988,2.988L9.887,7.016c0-.373.124-.747.124-1.245A5.057,5.057,0,0,0,3.787.917L5.654,2.784a2.407,2.407,0,0,1,0,3.485,2.407,2.407,0,0,1-3.485,0L.177,4.526a4.887,4.887,0,0,0,6.1,5.975l3.61,3.61L8.393,15.605a2.37,2.37,0,0,0-2.365.622l-5.1,5.1a2.533,2.533,0,0,0-.249,3.485,2.453,2.453,0,0,0,3.61.124l5.228-5.228a2.442,2.442,0,0,0,.622-2.365l1.494-1.494,3.61,3.61a4.235,4.235,0,0,0-.124,1.245,5.057,5.057,0,0,0,6.224,4.855L19.472,23.7a2.465,2.465,0,0,1,3.485-3.485l1.867,1.867A5.052,5.052,0,0,0,19.97,15.73Z" transform="translate(0 -0.778)" fill="#9a9999"/>
          </g>
        </g>
        <g transform="translate(153 431.222)">
          <g transform="translate(0 0.778)">
            <path d="M19.97,15.73c-.5,0-.871.124-1.245.124l-3.61-3.61L18.1,9.257l3.859-1.369,2.863-4.606a.783.783,0,0,0,0-.747L23.331,1.041a.767.767,0,0,0-.871-.124l-4.73,2.739L16.235,7.639l-2.988,2.988L9.887,7.016c0-.373.124-.747.124-1.245A5.057,5.057,0,0,0,3.787.917L5.654,2.784a2.407,2.407,0,0,1,0,3.485,2.407,2.407,0,0,1-3.485,0L.177,4.526a4.887,4.887,0,0,0,6.1,5.975l3.61,3.61L8.393,15.605a2.37,2.37,0,0,0-2.365.622l-5.1,5.1a2.533,2.533,0,0,0-.249,3.485,2.453,2.453,0,0,0,3.61.124l5.228-5.228a2.442,2.442,0,0,0,.622-2.365l1.494-1.494,3.61,3.61a4.235,4.235,0,0,0-.124,1.245,5.057,5.057,0,0,0,6.224,4.855L19.472,23.7a2.465,2.465,0,0,1,3.485-3.485l1.867,1.867A5.052,5.052,0,0,0,19.97,15.73Z" transform="translate(0 -0.778)" fill="#9a9999"/>
          </g>
        </g>
        <g transform="translate(-89 356)">
          <path d="M211,16.627A7.048,7.048,0,0,0,225,17.8h1.3v5.882H231V21.333h-2.353V15.451h-9.412V11.843h7.059V9.49h-7.059V6.842a3.529,3.529,0,1,0-2.353,0V9.609A7.137,7.137,0,0,0,211,16.627ZM222.6,17.8a4.7,4.7,0,0,1-9.245-1.176,4.793,4.793,0,0,1,3.529-4.617V17.8Z" fill="#fcc93a"/>
        </g>
        <path d="M25,9.375H16.016L12.5,0,8.984,9.375H0l6.765,5.919L3.125,25,12.5,20.313,21.875,25l-3.64-9.706Z" transform="translate(194 203)" fill="#f59292"/>
      </g>
    </svg>
  </div>
  <div  #tooltip class="house-plan__popover" [class.house-plan__popover--open]="flatOpen">
    <div class="popover">
      <div class="popover__content">
        <div class="popover__info"><span>№. кв:</span> 34</div>
        <div class="popover__info"><span>Контактное лицо: </span>Петр Петров</div>
        <div class="popover__info"><span>Активность: </span>Ремонт</div>
      </div>
      <div class="popover__footer">
        <button type="button" class="btn popover__btn">Позвонить</button>
        <button type="button" class="btn popover__btn">Написать</button>
      </div>
      <button class="popover__close" (click)="flatOpen = false">&times;</button>
    </div>
  </div>
</div>
