.myDpDaycell,
.myDpMonthcell,
.myDpYearcell {

&:hover {
   background: $gray !important;
 }

&:focus {
   outline: none;
   box-shadow: none !important;
 }
}

.myDpSelectedDay {
  color: $white !important;
  background: $yellow !important;
}
