<app-page-header></app-page-header>
<section class="page-section">
  <div class="container">
    <h2 class="page-section__title">Лежанки</h2>
    <p class="page-section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut, consequatur et expedita ipsum laborum non optio quibusdam quidem reiciendis repudiandae, sunt totam veritatis! Atque cumque eligendi in omnis voluptatibus? A cupiditate enim fugiat labore nobis quidem sunt suscipit. Corporis cupiditate dolorum facilis libero odio recusandae rem suscipit ullam, voluptatibus.</p>
    <app-main-goods></app-main-goods>
  </div>
</section>
