<div class="login">
  <div class="login__container container">
    <h1 class="login__title">Вход</h1>
    <form class="form" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form__field" [class.form__field--invalid]="form.get('tel').invalid && form.get('tel').touched">
        <label for="tel" class="form__label">Телефон</label>
        <input id="tel" type="text" class="input" formControlName="tel" mask="(000) 000-0000" prefix="+7">
        <div class="form__validation" *ngIf="form.get('tel').invalid && form.get('tel').touched">
          <small *ngIf="form.get('tel').errors.required">Это поле не может быть пустым</small>
          <small *ngIf="form.get('tel').errors.mask">Телефон указан некорректно</small>
        </div>
      </div>
      <div class="form__field" [class.form__field--invalid]="form.get('password').invalid && form.get('password').touched">
        <label for="password" class="form__label">Пароль</label>
        <input id="password" type="text" class="input" formControlName="password">
        <div class="form__validation" *ngIf="form.get('password').invalid && form.get('password').touched">
          <small *ngIf="form.get('password').errors.required">Это поле не может быть пустым</small>
        </div>
      </div>
      <div class="form__field form__field--button">
        <button type="submit" class="btn btn--full-width" [disabled]="form.invalid">Войти</button>
      </div>
    </form>
  </div>
</div>
