@import '../../../assets/scss/core/functions';
@import "../../../assets/scss/core/breakpoints";
@import "../../../variables";
@import "../../../assets/scss/settings";


.login-page {
  background-color: $white;

  &__container {
    position: relative;
    margin-top: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 35px;
    font-family: $font-family;
    font-size: 35px;
    line-height: 34px;
    color: $gray-dark;
    text-align: center;
  }

  &__info {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: $yellow;
    text-align: center;
  }
}
