<header class="page-header" id="header" #header>
  <app-nav></app-nav>
  <div class="page-header-container container">
    <div class="row">
      <div class="col col-sm-8">
        <div class="page-header-heading">
          <h1 class="page-header-title">Магия<br />нитеплетения</h1>
        </div>
<!--        <p class="page-header-promo">Мы поможем реализовать <br />проект любой сложности<br />с минимальными затратами.</p>-->
        <div class="page-header-btn">
          <a routerLink='.' fragment='transport' class="btn btn--inverse btn--lg">Перейти в каталог</a>
        </div>
      </div>
    </div>
    <div class="page-header-footer">
<!--      <svg-icon class="page-header-img"  [src]="'/assets/img/svg/excovators.svg'"></svg-icon>-->
<!--      <app-promo></app-promo>-->
    </div>
  </div>
</header>
