@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/variables";
@import "src/assets/scss/settings";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.nav {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    background-color: $secondary-theme;
    border-bottom: 1px dashed $main-theme;
    overflow: hidden;

    &:first-child {
      border-top: 1px dashed $main-theme;
    }

    &--profile {
      margin-top: auto;
      border-color: transparent;
      text-align: center;
    }
  }

  &__link {
    padding: 15px 15px;
    display: block;
    font-family: $font-family;
    font-size: 12px;
    line-height: 17px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
    cursor: pointer;

    &:hover,
    &:active {
      transform: translateX(15px);
    }

    .nav__item--profile &:hover,
    .nav__item--profile &:active {
      transform: none;
      color: $main-theme;
    }

    &--user {
      padding: 0;
      display: inline-block;
      font-size: 18px;
      text-transform: unset;
    }
  }

  &__btn {
    margin-top: 70px;
    padding: 30px 40px;
    font-size: 20px;
    align-self: center;
    background-color: $main-theme;
    box-shadow: 0 0 15px rgba($gray-dark, 0.1);
  }
}
