<div class="sub-menu">
  <div class="container">
    <ul class="sub-menu__list">
      <li class="sub-menu__item">
        <a href="#" [routerLink]="['/admin', 'building', 'create-porch']" [routerLinkActive]="'sub-menu__link--active'" [routerLinkActiveOptions]="{exact: true}" class="sub-menu__link">Создать подьезд</a>
      </li>
      <li class="sub-menu__item">
        <a class="sub-menu__link">Создать подьезд</a>
      </li>
      <li class="sub-menu__item">
        <a class="sub-menu__link">Создать подьезд</a>
      </li>
      <li class="sub-menu__item">
        <a class="sub-menu__link">Создать подьезд</a>
      </li>
    </ul>
  </div>
</div>
