<div class="container">
 <div class="form">
   <h3 class="form__section-title">Личная информация</h3>
   <div class="form__field">
     <div class="form__label">Имя</div>
     <input type="text" class="input" value="Петр" [disabled]="!editPersonalMode">
   </div>
   <div class="form__field">
     <div class="form__label">Номер квартиры</div>
     <input type="text" class="input" value="34" [disabled]="!editPersonalMode">
   </div>
   <div class="form__field">
     <div class="form__label">Телефон</div>
     <input type="text" class="input" value="+7962000000" [disabled]="!editPersonalMode">
   </div>
   <div class="form__field">
     <div class="form__label"></div>
     <button class="btn" *ngIf="editPersonalMode" (click)="editPersonalMode=false">Сохранить</button>
     <button class="btn" *ngIf="!editPersonalMode" (click)="editPersonalMode=true">Изменить</button>
   </div>

   <h3 class="form__section-title">Полезные навыки</h3>

   <div *ngIf="!editMode">
     <div class="form__field">
       <ul class="skills">
         <li *ngFor="let skill of skills"  class="skills__item">{{ skill }}</li>
       </ul>
     </div>
     <div class="form__field" style="margin-top: 15px">
       <button class="btn" (click)="editMode = true">Изменить</button>
     </div>
   </div>

   <div *ngIf="editMode">
     <div  *ngFor="let skill of skills" class="form__field">
       <input #input type="text" class="input" value="{{skill}}">
     </div>
     <div class="form__group" style="margin-top: 15px">
       <div class="form__field" >
         <button class="btn" (click)="addSkill()">Добавить навык</button>
       </div>
       <div class="form__field">
         <button class="btn" (click)="editMode = false">Сохранить</button>
       </div>
     </div>
   </div>
 </div>
</div>
