@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/variables";
@import "src/assets/scss/settings";


.login-page {
  background-color: $white;

  &__container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 35px;
    font-family: $font-family;
    font-size: 35px;
    line-height: 34px;
    color: $gray-dark;
    text-align: center;
  }
}
