// colors
$white: #ffffff;
$black: #000000;
$yellow: #f7c73f;
$gray-dark: #373a3c;
$gray: #cccccc;
$green: #28ae4e;
$red: #ff5252;

$main-theme: #efcfd0;
$secondary-theme: #d29681;

//font
$font-family: "Roboto", "Helvetica", "Arial", sans-serif;
$font-family--secondary: "Open sans";

//common
$box-shadow: 0px 3px 3px rgba($black, 0.25);
$border-radius: 4px;
