<div class="container">
  <h2>Создание квартир</h2>

  <form action="" class="form">
    <div class="row">
      <div class="col-6">
        <div class="form__field">
          <div class="form__label">№ Квартиры</div>
          <input type="text" class="input">
        </div>
      </div>
      <div class="col-6">
        <div class="form__field">
          <div class="form__label">№ Квартиры</div>
          <input type="text" class="input">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form__field">
          <div class="form__label">№ Квартиры</div>
          <input type="text" class="input">
        </div>
      </div>
      <div class="col-6">
        <div class="form__field">
          <div class="form__label">№ Квартиры</div>
          <input type="text" class="input">
        </div>
      </div>
    </div>
    <div class="form__field">
      <button class="btn">Создать</button>
    </div>
  </form>
</div>
