<div class="container">
  <h1 class="page-heading">Общие вопросы</h1>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <article class="post">
        <div class="post__content">
          <div class="post__date">12.05.2020</div>
          <div class="post__title">
            Встреча по вопросам субботника, Встреча по вопросам субботника, Встреча по вопросам субботника, Встреча по вопросам субботника, Встреча по вопросам субботника
          </div>
        </div>
        <div class="post__meta">
          <div class="post__counter">
            <a href="#" inlineSVG="/assets/img/svg/eye.svg"></a>
            <span>34</span>
          </div>
          <div class="post__counter">
            <a href="#" inlineSVG="/assets/img/svg/comments.svg"></a>
            <span>2</span>
          </div>
        </div>
      </article>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
    <article class="post">
      <div class="post__content">
        <div class="post__date">12.05.2020</div>
        <div class="post__title">
          Встреча по вопросам субботника
        </div>
      </div>
      <div class="post__meta">
        <div class="post__counter">
          <a href="#" inlineSVG="/assets/img/svg/eye.svg"></a>
          <span>34</span>
        </div>
        <div class="post__counter">
          <a href="#" inlineSVG="/assets/img/svg/comments.svg"></a>
          <span>2</span>
        </div>
      </div>
    </article>
  </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <article class="post">
        <div class="post__content">
          <div class="post__date">12.05.2020</div>
          <div class="post__title">
            Встреча по вопросам субботника, Встреча по вопросам субботника, Встреча по вопросам субботника
          </div>
        </div>
        <div class="post__meta">
          <div class="post__counter">
            <a href="#" inlineSVG="/assets/img/svg/eye.svg"></a>
            <span>34</span>
          </div>
          <div class="post__counter">
            <a href="#" inlineSVG="/assets/img/svg/comments.svg"></a>
            <span>2</span>
          </div>
        </div>
      </article>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <article class="post">
        <div class="post__content">
          <div class="post__date">12.05.2020</div>
          <div class="post__title">
            Встреча по вопросам субботника, Встреча по вопросам субботника
          </div>
        </div>
        <div class="post__meta">
          <div class="post__counter">
            <a href="#" inlineSVG="/assets/img/svg/eye.svg"></a>
            <span>34</span>
          </div>
          <div class="post__counter">
            <a href="#" inlineSVG="/assets/img/svg/comments.svg"></a>
            <span>2</span>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
